<header class="header">
    <div class="container">
        <div class="header__logo">
            <img src="assets//images/icons/main-logo.svg" alt="logo" />
        </div>

        <nav class="header__navigation">
            <a href="#price" class="header__link">
                Стоимость
            </a>
            <a href="#education" class="header__link header__link_red">
                Онлайн-обучение
            </a>
            <a href="#instructors" class="header__link">
                Инструкторы
            </a>
            <a href="#feedbacks" class="header__link">
                Отзывы
            </a>
            <a href="#filials" class="header__link">
                Филиалы
            </a>
            <button class="header__contact-btn btn btn_green">
                Перезвоните
            </button>
        </nav>

        <div class="header__contact">
            <a class="header__contact-phone" href="+79788909090">
                +7 (978) 890-90-90
            </a>

            <button class="header__contact-btn btn btn_green">
                Перезвоните
            </button>
        </div>

        <div class="header__burger burger">
            <div class="burger__line burger__line-one"></div>
            <div class="burger__line burger__line-two"></div>
            <div class="burger__line burger__line-three"></div>
        </div>
    </div>
</header>