<header class="header">
    <div class="container">
        <div class="header__logo">
            <img src="assets//images/icons/main-logo.svg" alt="logo" />
        </div>

        <nav class="header__navigation">
            <a href="#price" class="header__link desktop-link">
                Стоимость
            </a>
            <a href="#education" class="header__link header__link_red desktop-link">
                Онлайн-обучение
            </a>
            <a href="#instructors" class="header__link desktop-link">
                Инструкторы
            </a>
            <a href="#feedbacks" class="header__link desktop-link">
                Отзывы
            </a>
            <a href="#filials" class="header__link desktop-link">
                Филиалы
            </a>

            <a href="" class="header__link mobile-link">
                Главная
            </a>
            <a href="" class="header__link mobile-link">
                Акции и скидки
            </a>
            <a href="" class="header__link mobile-link">
                Новости
            </a>
            <a href="" class="header__link mobile-link">
                Полезное
            </a>
            <a href="" class="header__link mobile-link">
                Стоимость
            </a>
            <a href="" class="header__link header__link_red mobile-link">
                Онлайн обучение
            </a>
            <a href="" class="header__link mobile-link">
                Автопарк
            </a>
            <a href="" class="header__link mobile-link">
                Оплата
            </a>
            <a href="" class="header__link mobile-link">
                Контакты
            </a>

            <button class="header__contact-btn btn btn_green js-show-popup" data-popup="discount" data-text="записаться в автошколу">
                Перезвоните
            </button>
        </nav>

        <div class="header__contact">
            <a class="header__contact-phone" href="+79788909090">
                +7 (978) 890-90-90
            </a>

            <button class="header__contact-btn btn btn_green js-show-popup" data-popup="discount" data-text="записаться в автошколу">
                Перезвоните
            </button>
        </div>

        <div class="header__burger burger">
            <div class="burger__line burger__line-one"></div>
            <div class="burger__line burger__line-two"></div>
            <div class="burger__line burger__line-three"></div>
        </div>
    </div>
</header>