<footer class="footer">
  <div class="footer__line"></div>

  <div class="container">
    <nav class="footer__nav">
      <a class="footer__nav-link" href="#">Главная</a>
      <a class="footer__nav-link" href="#">Акции и скидки</a>
      <a class="footer__nav-link" href="#">Новости</a>
      <a class="footer__nav-link" href="#">Полезное</a>
      <a class="footer__nav-link" href="#">Стоимость</a>
      <a class="footer__nav-link footer__nav-link_red" href="#">Онлайн-обучение</a>
      <a class="footer__nav-link" href="#">Автопарк</a>
      <a class="footer__nav-link" href="#">Оплата</a>
      <a class="footer__nav-link" href="#">Контакты</a>
    </nav>

    <div class="footer__middle">
      <div class="footer__logo">
        <img src="../assets//images/icons/main-logo.svg" alt="logo" />
      </div>
      <div class="footer__description">
        <p>Лицензия Министерства образования, науки и молодежи</p>
        <p>Республики Крым №0182 от 30.05.2016 года.</p>
      </div>
      <div class="footer__contacts">
        <button class="footer__contacts-btn btn btn_red">
          Написать директору
        </button>

        <a class="footer__contacts-social btn_red" href="#">
          <img src="../assets/images/icons/odnaklasniki.svg" alt="">
        </a>
        <a class="footer__contacts-social btn_red" href="#">
          <img src="../assets/images/icons/vk.svg" alt="">
        </a>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-left">
        <p>ООО «Рейн-Авто»</p>
        <p><span>ИНН:</span> 9102022218</p>
        <p><span>ОГРН:</span> 1149102034630</p>
      </div>
      <div class="footer__bottom-right">
        <a href="#">Политика конфиденсальности</a>
        <a href="#">Пользовательское соглащение</a>
      </div>
    </div>
  </div>
</footer>