<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">
      <p>Автошкола в <span class="label">фотогалерее</span></p>
    </h2>

    <div class="gallery__wrapper">
      <div class="gallery__left">
        <div class="gallery__controls">
          <div class="gallery__controls-option">
            Инструкторы и авто
          </div>
          <div class="gallery__controls-option">
            Учебные классы
          </div>
          <div class="gallery__controls-option">
            Автодром
          </div>
        </div>

        <div class="gallery__advantages">
          <img src="../assets/images/gallery/gallery-advantages.png" alt="">

          <p>
            Lorem ipsum dolor sit amet consectetur. Adipiscing turpis a non imperdiet elit donec ut habitant.
          </p>
        </div>

        <a href="#" class="gallery__gallery-link btn btn_green">
          Перейти в галерею
        </a>
      </div>

      <div class="gallery__gallery">
        <div class="gallery__gallery-slide">
          <img src="" alt="" />
        </div>
        <div class="gallery__gallery-slide">
          <img src="" alt="" />
        </div>
        <div class="gallery__gallery-slide">
          <img src="" alt="" />
        </div>
        <div class="gallery__gallery-slide">
          <img src="" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
