<section class="inspectors">
  <div class="container">
    <div class="inspectors__top">
      <h2 class="inspectors__title">
        Наши инструкторы <span>300 лет</span> за рулем <span>*</span>
      </h2>
      <p class="inspectors__description">
        * общий стаж команды
      </p>
    </div>

    <div class="inspectors__content">
      <div class="inspectors__image">
        <img src="" alt="">
      </div>

      <div class="inspectors__info">
        <div class="inspectors__info__top">
          <div class="inspectors__name"></div>

          <div class="inspectors__experience">
            <span class="inspectors__experience-label">Стаж работы: &nbsp;</span>
            <span class="inspectors__experience__value"></span>
          </div>

          <div class="inspectors__description-text"></div>
        </div>

        <div class="inspectors__slider">
          <div class="swiper-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</section>
