<section class="sale">
  <div class="container">
    <div class="sale__form">
      <h2 class="sale__title">
        <p>Сэкономьте <span class="label">до 7 000 ₽</span></p>

        <div class="sale__description">
          Оставьте заявку и мы свяжемся c вами!
        </div>
      </h2>

      <div class="sale__form__mobile-description">
        <div class="sale__right-title">
          В других автошколах вы будете доплачивать за:
        </div>
        <ul>
          <li>возможность свободно выбиратьвремя практических занятий</li>
          <li>доступ к онлайн-материалам (на случай, если вы пропустили очное занятие)</li>
          <li>справку о прохождении медкомиссии</li>
        </ul>

        <p style="text-align: left !important;">У нас это <span class="label">БЕСПЛАТНО</span></p>
        <p>+100% к удовольствию от вождения!</p>
        <p>2 спец. занятия в подарок при 100% оплате <span>*</span></p>
      </div>

      <div class="sale__form-fields">
        <div class="sale__form-field__row">
          <input class="form-field__input" type="text" placeholder="Ваше имя">
          <div class="sale__form-field__star">*</div>
        </div>
        <div class="sale__form-field__row">
          <input class="form-field__input" type="text" id="salelInput" maxlength="17" placeholder="Ваш телефон">
          <div class="sale__form-field__star">*</div>
        </div>
      </div>

      <div class="sale__form-bottom">
        <button class="sale__form-btn btn btn_green">
          Оставить заявку
        </button>

        <div class="sale__form-bottom__description">Нажимая на кнопку, вы даёте согласие
                                                    на обработку <a href="">персональных данных</a>
                                                    и соглашаетесь c <a href="">политикой конфиденциальности</a></div>
      </div>
    </div>
    <div class="sale__right">
      <div class="sale__right-title">
        В других автошколах вы будете доплачивать за:
      </div>
      <ul>
        <li>возможность свободно выбиратьвремя практических занятий</li>
        <li>доступ к онлайн-материалам (на случай, если вы пропустили очное занятие)</li>
        <li>справку о прохождении медкомиссии</li>
      </ul>

      <p>У нас это <span class="label" style="border-radius: 10px;">БЕСПЛАТНО</span></p>
      <p>+100% к удовольствию от вождения!</p>
      <p style="margin-bottom: 0;">2 спец. занятия в подарок при 100% оплате <span style="color: #e30613">*</span></p>
    </div>
  </div>
</section>