.footer {
  margin-top: -15px;
  padding-top: 160px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background: $light-gray;
    transform: translate(-50%,0);
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 160px;
    left: 50%;
    width: 100vw;
    border-top: 1px solid $red;
    background: $light-gray;
    transform: translate(-50%,0);
    z-index: -1;

    @media screen and (max-width: 1024px) {
      top: 90px;
    }
  }

  .container {
    @media screen and (max-width: 576px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 80px;
  }
}

.footer__line {
  border-top: 1px solid $red;
}

.footer__nav {
  display: flex;
  align-items: center;
  margin: 26px 0;

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start !important;
    grid-gap: 10px;
    margin: 24px 0;
  }

  @media (min-width: 480px) and (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
  }

  @media (min-width: 1024px) and (max-width: 1240px) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
  }

  @media screen and (max-width: 1240px) {
    display: grid;
    justify-items: center;
  }
}

.footer__nav-link {
  @include font(16px, 18px, 500);
  display: inline-block;
  padding: 2px 8px;
  color: $deep-blue;
  transition: 250ms;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;

  &_red {
    color: $red;
  }

  &:hover {
    color: $white;
    background: $red;
  }

  &:not(:last-child) {
    margin-right: 35px;

    @media screen and (max-width: 1240px) {
      margin-right: 0;
    }
  }
}

.footer__middle {
  @include flexBetween;
  align-items: center;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.footer__logo {
  width: 170px;
  margin-right: 78px;

  @media screen and (max-width: 480px) {
    width: 90px;
  }

  @media (min-width: 480px) and (max-width: 576px) {
    width: 150px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 20px;
  }

  @media (min-width: 1024px) and (max-width: 1240px) {
    margin-right: 40px;
  }

  img {
    width: 100%;
  }
}

.footer__description {
  @media screen and (max-width: 480px) {
    max-width: 100% !important;
    margin: 20px auto;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 60%;
  }

  @media (min-width: 1024px) and (max-width: 1240px) {
    margin-right: 20px;
  }

  p {
    @include font(16px, 18px, 400);
    color: #A5A5A5;
  }
}

.footer__contacts {
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }

  @media screen and (max-width: 1024px) {
    margin: 10px auto 0;
  }
}

.footer__contacts-btn {
  width: 264px;
  margin-right: 20px;

  @media screen and (max-width: 480px) {
    margin-right: 0;
  }
}

.footer__socials {
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

.footer__contacts-social {
  @include flexCenter;
  width: 49px;
  height: 49px;
  background: linear-gradient(90deg, #DC0000 20.83%, #A52727 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: 250ms;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.footer__middle__mobile-info {
  display: none;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;

    p {
      @include font(14px, 16px, 500);
      color: #A5A5A5;

      &:nth-child(2),
      &:nth-child(3) {
        span {
          font-weight: 400;
        }
      }

      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }
}

.footer__bottom {
  @include flexBetween;
  align-items: center;
  margin-top: 30px;
  
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.footer__bottom-left {
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    display: none;
  }

  p {
    @include font(14px, 16px, 500);
    color: #A5A5A5;

    &:nth-child(2),
    &:nth-child(3) {
      span {
        font-weight: 400;
      }
    }

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

.footer__bottom-right {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    margin: 0 auto;
  }

  a {
    @include font(14px, 16px, 400);
    color: $red;
    text-decoration: underline;

    &:nth-child(1) {
      margin-right: 60px;

      @media screen and (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}