.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80px;
  background-color: $light-gray;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
  z-index: 100;
  &.sticky{
    transform: translate(0, -110%);
    &.visible{
      transform: translate(0,0);
    }
  }
  .container {
    display: grid;
    grid-template-columns: 112px 586px 382px;
    grid-gap: 40px;
    align-items: center;
  }
}

.header__logo {
  height: 54px;
}

.header__navigation {
  @include flexBetween;
  align-items: center;
}

.header__link {
  @include font(16px, 18px, 500);
  display: inline-block;
  padding: 2px 8px;
  color: $deep-blue;
  transition: 250ms;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;

  &_red {
    color: $red;
  }

  &:hover {
    color: $white;
    background: $red;
  }
}

.header__contact {
  display: flex;
  align-items: center;
}

.header__contact-phone {
  @include font(18px, 18px, 700);
  color: $red;
  white-space: nowrap;
}

.header__contact-btn {
  width: 192px;
  margin-left: 30px;
}