.sale {
  max-width: 1600px;
  margin: -10px auto 0;
  min-height: 390px;
  padding: 35px 0;
  background: url('../images/inspectors/background.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  .container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 30px 0;
  }
}

.sale__form {
  max-width: 660px;
  width: 100%;
  margin-right: 40px;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.sale__title {
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 20px;
  }

  p {
    @include font(48px, 56px, 700);
    margin-bottom: 10px;
    color: $white;

    @include mobile {
      @include font(24px, 30px, 700);
      text-align: center;
    }

    @include tablet {
      @include font(28px, 48px, 700);
    }

    @include large-tablet {
      @include font(44px, 52px, 700);
    }

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }
}

.sale__description {
  @include font(20px, 24px, 500);
  color: #A5A5A5;

  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.sale__form__mobile-description {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 10px;
    padding-left: 20px;

    li {
      @include font(18px, 22px, 400);
      color: #F6F5F3;
      list-style: square;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  p {
    @include font(20px, 24px, 500);
    margin-bottom: 20px;
    color: $white;

    @include mobile {
      text-align: center !important;
    }

    &:last-child {
      font-weight: 400;

      span {
        color: $red;
      }
    }
  }
}

.sale__form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  .sale__form-field__row {
    height: 44px;
    position: relative;

    .sale__form-field__star {
      position: absolute;
      top: 15px;
      right: 20px;
      color: $red;
    }
  }

  @media screen and (max-width: 1024px) {
    margin: 0 auto;
  }
}

.sale__form-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.sale__form-btn {
  width: 260px;
  min-width: 175px;
  margin-right: 20px;

  @media screen and (max-width: 576px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.sale__form-bottom__description {
  @include font(14px, 16px, 400);
  max-width: 345px;
  color: $white;
  white-space: pre-line;

  @include mobile {
    font-size: 12px;
    line-height: 14px;
    white-space: normal;
  }

  a {
    font-weight: 500;
    color: $white;
    text-decoration: underline;
  }

  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}

.sale__right {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @include large-tablet {
    margin-top: 40px;
  }

  ul {
    margin-bottom: 10px;
    padding-left: 20px;

    li {
      @include font(18px, 22px, 400);
      color: #F6F5F3;
      list-style-type: none;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: #F6F5F3;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: -15px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  p {
    @include font(20px, 24px, 500);
    margin-bottom: 20px;
    color: $white;

    &:last-child {
      font-weight: 400;
    }
  }
}

.sale__right-title {
  @include font(20px, 24px, 500);
  margin-bottom: 20px;
  color: $white;
}

.filial__img {
  position: absolute;
  right: -110px;
  bottom: -126px;
  @media screen and (max-width: 1440px) {
    right: 0;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}