.stocks {
  margin-top: -20px;
  padding-top: 160px;
  padding-bottom: 160px;
  background: $light-gray;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.stocks__top {
  margin-bottom: 50px;

  @media screen and (max-width: 576px) {
    margin-bottom: 30px;
  }
}

.stocks__title {
  @include font(48px, 56px, 700);
  color: $deep-blue;
  position: relative;
  z-index: 5;

  @include mobile {
    @include font(24px, 30px, 700);
  }

  @include tablet {
    @include font(28px, 48px, 700);
  }

  @include large-tablet {
    @include font(44px, 52px, 700);
  }

  .label {
    @include font(40px, 46px, 700);
    color: $white;
    position: relative;
    z-index: 5;

    @include mobile {
      @include font(20px, 28px, 700);
      text-align: center;
    }

    @include tablet {
      @include font(24px, 42px, 700);
    }

    @include large-tablet {
      @include font(36px, 48px, 700);
    }
  }

  &:before {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    background: linear-gradient(90deg, #DC0000 20.83%, #A52727 100%);
    position: absolute;
    top: -10px;

    @media screen and (max-width: 576px) {
      top: -20px;
    }
  }

  p {
    &:last-child {
      @include font(20px, 24px, 400);
      color: #A5A5A5;
      margin-top: 10px;

      @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

.stocks__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.stocks__option {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 30px;
  background-image: url(' ../images//stocks/background.png');
  background-size: 100% 100%;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 768px) {
    min-height: 340px;
    height: auto;
    padding: 15px;
  }

  img {
    position: absolute;
    right: -20px;
    bottom: -10px;
  }
}

.stocks__option-title {
  max-width: 305px;
  margin-bottom: 24px;

  @media screen and (max-width: 576px) {
    margin: 0 auto 18px;
    text-align: center;
  }

  p {
    @include font(20px, 32px, 500);
    color: $white;

    .label {
      padding: 4px 8px;
      border-radius: 5px;
      line-height: 22px;
    }
  }
}

.stocks__option-description {
  @include font(18px, 20px, 400);
  max-width: 300px;
  color: $white;
  position: relative;
  z-index: 1;
}

.stocks__option-btn {
  max-width: 296px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  z-index: 2;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 0;
  }
}

.stocks__other-btn {
  width: 348px;
  height: 70px;
  margin: 40px auto 0;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    height: 50px;
  }
}