.stocks {
  margin-top: -20px;
  padding-top: 160px;
  padding-bottom: 160px;
  background: $light-gray;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.stocks__top {
  margin-bottom: 50px;
}

.stocks__title {
  @include font(48px, 56px, 700);
  color: $deep-blue;
  position: relative;

  .label {
    @include font(40px, 46px, 700);
    color: $white;
  }

  &:before {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    background: linear-gradient(90deg, #DC0000 20.83%, #A52727 100%);
    position: absolute;
    top: -10px;
  }

  p {
    &:last-child {
      @include font(20px, 24px, 400);
      color: #A5A5A5;
    }
  }
}

.stocks__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.stocks__option {
  height: 300px;
  padding: 30px;
  background-image: url('/assets/images/stocks/background.png');
  box-sizing: border-box;
  position: relative;

  img {
    position: absolute;
    right: -20px;
    bottom: -10px;
  }
}

.stocks__option-title {
  max-width: 305px;
  margin-bottom: 24px;

  p {
    @include font(20px,
            32px,
            500);
    color: $white;

    .label {
      padding: 4px 8px;
      border-radius: 5px;
      line-height: 22px;
    }
  }
}

.stocks__option-description {
  @include font(18px,
          20px,
          400);
  max-width: 300px;
  color: $white;
  position: relative;
  z-index: 1;
}

.stocks__option-btn {
  width: 296px;
  position: absolute;
  bottom: 30px;
  z-index: 2;
}

.stocks__other-btn {
  width: 348px;
  height: 70px;
  margin: 40px auto 0;
}