.tariff {
  margin-top: -20px;
  padding-top: 160px;
  padding-bottom: 160px;
  background: $light-gray;
}

.tariff__top {
  margin-bottom: 100px;
}

.tariff__title {
  @include font(48px, 56px, 700);
  color: $deep-blue;
  position: relative;

  .label {
    @include font(40px, 46px, 700);
    color: $white;
  }

  &:before {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    background: linear-gradient(90deg, #DC0000 20.83%, #A52727 100%);
    position: absolute;
    top: -10px;
  }
}

.tariff__options {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 40px;
}

.tariff__option {
  padding: 66px 30px 50px;
  background: $white;
  border: 4px solid transparent;
  box-sizing: border-box;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  position: relative;
  cursor: pointer;

  &:hover {
    border-color: $red;
  }
}

.tariff__option-img {
  position: absolute;
  top: -60px;
  z-index: 1;
}

.tariff__option-top {
  text-align: center;
}

.tariff__option-title {
  @include font(30px, 36px, 800);
  color: $deep-blue;
  margin-bottom: 5px;

  span {
    color: $red;
  }
}

.tariff__option-description {
  @include font(18px, 20px, 500);
  color: #A5A5A5;
}

.tariff__option-body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.tariff__option-body__title {
  @include font(20px, 24px, 500);
  margin-bottom: 20px;
  color: $deep-blue;

  span {
    color: $red;
  }
}

.tariff__option-body__options {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 40px;
}

.tariff__checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;

    &:checked + .tariff__checkbox-label {
      img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }

    &:not(:checked) + .tariff__checkbox-label {
      img {
        &:first-child {
          display: block;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

.tariff__checkbox-icon {
  margin-right: 24px;
}

.tariff__checkbox-label {
  @include font(18px, 20px, 400);
  display: flex;
  align-items: center;
  color: $deep-blue;
  user-select: none;
  cursor: pointer;
}

.tariff__option-body__bottom {
  display: flex;
  flex-direction: column;
}

.tariff__option-body__price {
  @include font(48px, 56px, 700);
  color: $red;
  text-align: center;
}

.tariff__option-body__description {
  @include font(18px, 20px, 400);
  color: #A5A5A5;
  text-align: center;
}

.tariff__option-body__btn {
  margin-top: 50px;
}