.tariff {
  margin-top: -20px;
  padding-top: 160px;
  padding-bottom: 160px;
  background: $light-gray;

  .container {
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.tariff__top {
  margin-bottom: 100px;
  @media screen and (max-width: 1239px) {
    margin-bottom: 30px;
  }
}

.tariff__title {
  @include font(48px, 56px, 700);
  color: $deep-blue;
  position: relative;

  @include mobile {
    @include font(26px, 31px, 700);
  }

  @include tablet {
    @include font(36px, 48px, 700);
  }

  @include large-tablet {
    @include font(48px, 54px, 700);
  }

  .label {
    @include font(inherit, inherit, inherit);
    color: $white;
  }

  &:before {
    content: '';
    display: block;
    width: 120px;
    height: 4px;
    background: linear-gradient(90deg, #DC0000 20.83%, #A52727 100%);
    position: absolute;
    top: -10px;
  }
}

.tariff__tabs {
  display: none;
  @media screen and (max-width: 1239px) {
    margin: 0 auto 80px;
    display: flex;
    max-width: 360px;
    background: #fff;
    border-radius: 15px;
    filter: drop-shadow(0px 3.97714px 7.95429px rgba(0, 0, 0, 0.05));
    overflow: hidden;
    @include mobile {
      max-width: 100%;
      width: 100%;
      border-radius: 0;
    }
    &-item {
      padding: 15px 0;
      flex-grow: 1;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid #E30613;
      }
    }
    &-title {
      @include font(16px, 19px, 500);
      text-align: center;
    }
  }
}

.tariff__options {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 40px;
  @media screen and (max-width: 1239px) {
    display: flex;
    justify-content: center;
  }
}

.tariff__option {
  padding: 66px 30px 50px;
  background: $white;
  border: 4px solid transparent;
  box-sizing: border-box;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  @media screen and (max-width: 1239px) {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    &.active {
      position: relative;
      opacity: 1;
      visibility: visible;
    }
  }

  &:nth-of-type(2) {
    border-color: $red;
  }
}

.tariff__option-img {
  position: absolute;
  top: -60px;
  z-index: 1;
}

.tariff__option-top {
  text-align: center;
}

.tariff__option-title {
  @include font(30px, 36px, 800);
  color: $deep-blue;
  margin-bottom: 5px;
  @include mobile {
    @include font(22px, 26px, 500)
  }

  span {
    color: $red;
  }
}

.tariff__option-description {
  @include font(18px, 20px, 500);
  color: #A5A5A5;
}

.tariff__option-body {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.tariff__option-body__title {
  @include font(20px, 24px, 500);
  margin-bottom: 20px;
  color: $deep-blue;

  span {
    color: $red;
  }
}

.tariff__option-body__options {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 40px;
}

.tariff__checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;

    &:checked + .tariff__checkbox-label {
      img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }

    &:not(:checked) + .tariff__checkbox-label {
      img {
        &:first-child {
          display: block;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

.tariff__checkbox-icon {
  margin-right: 24px;
}

.tariff__checkbox-label {
  @include font(18px, 20px, 400);
  display: flex;
  align-items: center;
  color: $deep-blue;
  user-select: none;
  cursor: pointer;
}

.tariff__option-body__bottom {
  display: flex;
  flex-direction: column;
}

.tariff__option-body__price {
  @include font(48px, 56px, 700);
  color: $red;
  text-align: center;
}

.tariff__option-body__description {
  @include font(18px, 20px, 400);
  color: #A5A5A5;
  text-align: center;
}

.tariff__option-body__btn {
  margin-top: 50px;
}