<section class="tariff">
    <div class="container">
        <div class="tariff__top">
            <h2 class="tariff__title">
                <p>Тарифы на <span class="label">обучение</span></p>
            </h2>
        </div>
        <div class="tariff__tabs">
            <div class="tariff__tabs-item js-tariff-tab" data-tariff="1">
              <div class="tariff__tabs-title">А + А1</div>
            </div>
          <div class="tariff__tabs-item js-tariff-tab active" data-tariff="2">
            <div class="tariff__tabs-title">B + B1</div>
          </div>
          <div class="tariff__tabs-item js-tariff-tab" data-tariff="3">
            <div class="tariff__tabs-title"> C + C1</div>
          </div>

        </div>
        <div class="tariff__options">
            <div class="tariff__option js-tariff-option" data-tariff="1">
                <div class="tariff__option-img">
                    <img src="../assets/images/tariff/car-a.png" alt="">
                </div>
                <div class="tariff__option-top">
                    <div class="tariff__option-title">
                        Категория <span>A + A1</span>
                    </div>
                    <div class="tariff__option-description">
                        Оффлайн формат
                    </div>
                </div>
                <div class="tariff__option-body">
                    <div class="tariff__option-body__title">
                        Доступные <span>опции:</span>
                    </div>

                    <div class="tariff__option-body__options">
                        <div class="tariff__checkbox">
                            <input id="A-prepayment" type="checkbox" checked
                                   onchange="changeATariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="A-prepayment">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>100% предоплата</span>
                            </label>
                        </div>
                        <div class="tariff__checkbox">
                            <input id="A-deduction" type="checkbox" checked
                                   onchange="changeATariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="A-deduction">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>С учетом налогового вычета</span>
                            </label>
                        </div>

                        <div class="tariff__checkbox">
                            <input id="A-friend" type="checkbox" onchange="changeATariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="A-friend">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>Я приду учиться с другом</span>
                            </label>
                        </div>
                        <div class="tariff__checkbox">
                            <input id="A-sale" type="checkbox" checked
                                   onchange="changeATariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="A-sale">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>Дополнительная скидка</span>
                            </label>
                        </div>
                    </div>

                    <div class="tariff__option-body__bottom">
                        <p id="ATotalPrice" class="tariff__option-body__price"></p>
                        <p class="tariff__option-body__description">Срок обучения – 1,5 месяца</p>

                        <button class="tariff__option-body__btn btn btn_red">
                            Записаться
                        </button>
                    </div>
                </div>
            </div >
            <div class="tariff__option js-tariff-option active" data-tariff="2">
                <div class="tariff__option-img">
                    <img src="../assets/images/tariff/car-b.png" alt="">
                </div>
                <div class="tariff__option-top">
                    <div class="tariff__option-title">
                        Категория <span>B + B1</span>
                    </div>
                    <div class="tariff__option-description">
                        Оффлайн / онлайн формат
                    </div>
                </div>
                <div class="tariff__option-body">
                    <div class="tariff__option-body__title">
                        Доступные <span>опции:</span>
                    </div>

                    <div class="tariff__option-body__options">
                        <div class="tariff__checkbox">
                            <input id="B-prepayment" type="checkbox" checked
                                   onchange="changeBTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="B-prepayment">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>100% предоплата</span>
                            </label>
                        </div>
                        <div class="tariff__checkbox">
                            <input id="B-deduction" type="checkbox" checked
                                   onchange="changeBTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="B-deduction">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>С учетом налогового вычета</span>
                            </label>
                        </div>

                        <div class="tariff__checkbox">
                            <input id="B-friend" type="checkbox" checked
                                   onchange="changeBTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="B-friend">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>Я приду учиться с другом</span>
                            </label>
                        </div>
                        <div class="tariff__checkbox">
                            <input id="B-sale" type="checkbox" checked
                                   onchange="changeBTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="B-sale">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>Дополнительная скидка</span>
                            </label>
                        </div>
                    </div>

                    <div class="tariff__option-body__bottom">
                        <p id="BTotalPrice" class="tariff__option-body__price"></p>
                        <p class="tariff__option-body__description">Срок обучения – 1,5 месяца</p>

                        <button class="tariff__option-body__btn btn btn_red">
                            Записаться
                        </button>
                    </div>
                </div>
            </div>
            <div class="tariff__option js-tariff-option" data-tariff="3">
                <div class="tariff__option-img">
                    <img src="../assets/images/tariff/car-c.png" alt="">
                </div>
                <div class="tariff__option-top">
                    <div class="tariff__option-title">
                        Категория <span>C + C1</span>
                    </div>
                    <div class="tariff__option-description">
                        Оффлайн формат
                    </div>
                </div>

                <div class="tariff__option-body">
                    <div class="tariff__option-body__title">
                        Доступные <span>опции:</span>
                    </div>

                    <div class="tariff__option-body__options">
                        <div class="tariff__checkbox">
                            <input id="C-prepayment" type="checkbox" checked
                                   onchange="changeCTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="C-prepayment">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>100% предоплата</span>
                            </label>
                        </div>
                        <div class="tariff__checkbox">
                            <input id="C-deduction" type="checkbox" checked
                                   onchange="changeCTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="C-deduction">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>С учетом налогового вычета</span>
                            </label>
                        </div>

                        <div class="tariff__checkbox">
                            <input id="C-friend" type="checkbox" checked
                                   onchange="changeCTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="C-friend">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>Я приду учиться с другом</span>
                            </label>
                        </div>
                        <div class="tariff__checkbox">
                            <input id="C-sale" type="checkbox" checked
                                   onchange="changeCTariffOptions(this.id, this.checked)">

                            <label class="tariff__checkbox-label" for="C-sale">
                                <div class="tariff__checkbox-icon">
                                    <img src="../assets/images/icons/checkbox-unchecked.svg"/>
                                    <img src="../assets/images/icons/checnbox-checked.svg"/>
                                </div>

                                <span>Дополнительная скидка</span>
                            </label>
                        </div>
                    </div>

                    <div class="tariff__option-body__bottom">
                        <p id="CTotalPrice" class="tariff__option-body__price"></p>
                        <p class="tariff__option-body__description">Срок обучения – 1,5 месяца</p>

                        <button class="tariff__option-body__btn btn btn_red">
                            Записаться
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>