<section class="stocks">
  <div class="container">
    <div class="stocks__top">
      <h2 class="stocks__title">
        <p>Скидки и <span class="label">Акции</span></p>
        <p>скидки суммируются</p>
      </h2>
    </div>

    <div class="stocks__options">
      <div class="stocks__option">
        <div class="stocks__option-title">
          <p>Приведи друга и получи скидку <span class="label">1 000 ₽</span> за каждого</p>
        </div>

        <div class="stocks__option-description">
          При совместной запись
        </div>

        <button class="stocks__option-btn btn btn_red">
          Использовать
        </button>

        <img src="assets/images/stocks/mouthpiece.png" alt="">
      </div>
      <div class="stocks__option">
        <div class="stocks__option-title">
          <p>Оплата обучения <span class="label">в рассрочку</span></p>
        </div>

        <div class="stocks__option-description">
          Вам не надо откладывать вопрос обучения и получения прав!
        </div>

        <button class="stocks__option-btn btn btn_red">
          Использовать
        </button>

        <img src="assets/images/stocks/wallet.png" alt="">
      </div>
      <div class="stocks__option">
        <div class="stocks__option-title">
          <p>Скидка именинникам <span class="label">2 000 ₽</span></p>
        </div>

        <div class="stocks__option-description">
          10 дней до дня рождения <br> и 10 дней после
        </div>

        <button class="stocks__option-btn btn btn_red">
          Использовать
        </button>

        <img src="assets/images/stocks/cap.png" alt="">
      </div>
      <div class="stocks__option">
        <div class="stocks__option-title">
          <p>Оплата обучения в автошколе <span class="label">материнским капиталом</span></p>
        </div>

        <div class="stocks__option-description">
          Обратитесь в любой из наших филиалов и заключите договор на обучение.
        </div>

        <button class="stocks__option-btn btn btn_red">
          Использовать
        </button>

        <img src="assets/images/stocks/pig.png" alt="">
      </div>
    </div>

    <button class="stocks__other-btn btn btn_green">
      Все скидки и акции
    </button>
  </div>
</section>