<section class="banner">
  <div class="container">
    <h1 class="banner__title">
      <p>Обучение <span>вождению</span></p>
      <p>В УДОВОЛЬСТВИЕ</p>
    </h1>

    <p class="banner__description">
      Спокойно и легко
    </p>

    <div class="banner__record">
      <button class="banner__record-btn btn btn_green">
        Записаться
      </button>

      <p>У нас есть возможность <br> <span>онлайн-обучения!</span></p>
    </div>

    <div class="banner__options">
      <div class="banner__option">
        <h3 class="banner__option-title">
          <p>Адекватные и терпеливые <br> <span>инструкторы</span></p>
        </h3>

        <p class="banner__option-description">
          — профессионалы своего дела, лучшие 32 000 водителей на дорогах Крыма — их выпускники!
        </p>

        <img src="../assets/images/banner/inspectors.png" alt="" />
      </div>
      <div class="banner__option">
        <h3 class="banner__option-title">
          <span>100% гарантия</span> получения прав
        </h3>

        <p class="banner__option-description">
          — все наши ученики получают права, 9 из 10 — c первого раза
        </p>

        <img src="../assets/images/banner/driver-license.png" alt="" />
      </div>
      <div class="banner__option">
        <h3 class="banner__option-title">
          Теория c любого устройства <span>24/7</span>
        </h3>

        <p class="banner__option-description">
          — доступная и понятная форма подачи без визитов в класс, возможность задать вопрос преподавателю,
          промежуточные тестирования
        </p>

        <img src="../assets/images/banner/computer.png" alt="" />
      </div>
    </div>
  </div>

  <div class="banner__bottom">
    <img src="../assets/images/banner/banner-gradient.png" alt="">
  </div>

  <div class="banner__backgrounds">
    <img src="../assets/images/banner/banner-background1.png" alt="">
    <img src="../assets/images/banner/banner-background2.png" alt="">
  </div>
</section>