<div class="popup category-popup">
    <div class="popup__inner">
        <div class="close-button"></div>
        <h2 class="popup__title js-set-title">Категория А</h2>
        <p class="popup__subtitle">запись в автошколу</p>
        <form class="popup__form">
            <div class="popup__form-group">
                <label class="popup__form-label">Тип обучения</label>
                <div class="popup__form-group-radio">
                    <div class="popup__form-input-radio">
                        <label>
                            <input type="radio" name="type">
                            <span>Оффлайн</span>
                        </label>
                    </div>
                    <div class="popup__form-input-radio">
                        <label>
                            <input type="radio" name="type" checked>
                            <span>Онлайн</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="popup__form-group">
                <input type="text" name="fio" class="popup__form-input" placeholder="Имя"/>
            </div>
            <div class="popup__form-group">
                <input type="text" name="phone" class="popup__form-input" placeholder="Номер телефона"/>
                <div class="sale__form-field__star">*</div>
            </div>
            <div class="popup__form-info">
                <div class="popup__form-price js-set-price">4 000 ₽</div>
                <div class="popup__form-info-text">с учетом выбранных опций</div>
            </div>
            <div class="popup__form-bottom">
                <button class="popup__form-button  btn btn_green js-show-popup">хочу получить права</button>
                <p class="popup__form-agreement">Нажимая на кнопку, вы даёте согласие
                    на <a href="#">обработку персональных данных</a>
                    и соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
            </div>
        </form>
    </div>
</div>

