<div class="popup message-popup">
    <div class="popup__inner">
        <div class="close-button"></div>
        <h2 class="popup__title">Сообщение <span>директору</span></h2>
        <form class="popup__form">
            <div class="popup__form-group">
                <input type="text" name="fio" class="popup__form-input" placeholder="Имя"/>
            </div>
            <div class="popup__form-group">
                <input type="text" name="phone" class="popup__form-input" placeholder="Номер телефона"/>
                <div class="sale__form-field__star">*</div>
            </div>
            <div class="popup__form-group popup__form-textarea">
                <textarea name="message" class="popup__form-input popup__form-input-textarea" maxlength="300" placeholder="Текст сообщения"></textarea>
                <div class="textarea-counter">
                    <span class="current-count">0</span>
                    <span class="max-count"> / 300</span>
                </div>
            </div>
            <div class="popup__form-bottom">
                <button class="popup__form-button  btn btn_green">хочу получить права</button>
                <p class="popup__form-agreement">Нажимая на кнопку, вы даёте согласие
                    на <a href="#">обработку персональных данных</a>
                    и соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
            </div>
        </form>
    </div>
</div>